.login-container {
  margin: 2rem;
  flex-grow: 1;
}

.login-container .card-wrapper {
  margin: auto;
  padding: 1rem;
  max-width: 450px;
  border: 1px solid var(--bg-secondary);
  background-color: var(--bg-color);
}

.login-container .card-heading {
  font-size: var(--heading-2);
  font-weight: bold;
  text-align: center;
}

/* Form */

.login-container .input-group {
  margin: 0.5rem 0;
}

.login-container label {
  font-size: 0.9rem;
  line-height: var(--line-ht-5);
}

.login-container input,
.login-container button {
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
}

.login-container .input-checkbox {
  line-height: var(--line-ht-5);
}

.login-container input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
  margin-right: 0.25rem;
  accent-color: var(--primary-color);
}

.login-container .input-checkbox label {
  font-size: 0.9rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card-action > * {
  font-size: 0.9rem;
}

.card-content a.forgot-pwd {
  font-size: 0.8rem;
  border: 0;
}

.card-content a.forgot-pwd:hover {
  background-color: inherit;
}

.card-action a.link-primary {
  padding: 0 0.25rem;
}

.primary {
  color: var(--primary-color);
}

.checkbox-forgetpwd {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* Toggle Password */

.toggle-pwd {
  position: relative;
  display: flex;
  align-items: center;
}

.toggle-pwd input {
  width: 100%;
}

.toggle-pwd i {
  position: absolute;
  right: 1rem;
  z-index: 2;
  color: var(--primary-color);
}

/* MEDIA QUERIES */

@media screen and (max-width: 480px) {
  .checkbox-forgetpwd {
    flex-direction: column;
    align-items: flex-start;
  }
}
